@import '/src/styles/globals/variables.scss';

.chip{
    padding: 6px 8px;
    border-radius: 12px;
    font-weight: bold;
    background-color: $color-primary;
    color: rgba(255, 255, 255, 0.75);
    display: inline;
    font-size: 12px;
}