.skill-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;

    .skill-list-item{
        margin: 10px;
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 1fr;
        align-items: center;


        .status{
            height: 15px;
            border: solid 1px rgba(255, 255, 255, 0.4);
            border-radius: 12px;
        }

        .status-1{
            height: 15px;
            background-color: rgb(230, 105, 105);
            border-radius: 12px;
        }

        .status-2{
            height: 15px;
            background-color: rgb(230, 170, 102);
            border-radius: 12px;
        }

        .status-3{
            height: 15px;
            background-color: rgb(84, 214, 112);
            border-radius: 12px;
        }
    }
}