html {
    scroll-behavior: smooth;
}

body {
	height: 100vh;
	background: hsla(219, 45%, 9%, 1);

	background: linear-gradient(180deg, hsla(219, 45%, 9%, 1) 76%, hsla(227, 38%, 14%, 1) 100%);
	
	background: -moz-linear-gradient(180deg, hsla(219, 45%, 9%, 1) 76%, hsla(227, 38%, 14%, 1) 100%);
	
	background: -webkit-linear-gradient(180deg, hsla(219, 45%, 9%, 1) 76%, hsla(227, 38%, 14%, 1) 100%);
	
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0C1320", endColorstr="#161C31", GradientType=1 );
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: hsla(219, 45%, 9%, 1);
}

::-webkit-scrollbar-thumb {
	background-color: rgb(34, 37, 44);
	border-radius: 4px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }