.app-content{
    .container{
        margin-left: 5%;
        border-radius: 12px;
        color: rgba(255, 255, 255, 0.7);

        .hashtag{
            font-size: 30px;
            color: rgba(255, 255, 255, 0.7);
        }
    }
}