$color-primary :  #6a73ca;

.side-nav{
    .container{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        left: 30px;


        //height: 90%;
        width: 260px;

        justify-content: center;
        align-items: center;

        background-color: #101720;

        box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.08);
        border-radius: 12px;

        padding: 15px 20px;
        margin: 0px 15px 0px 15px;
    }
    .circle-image{
        width: 120px;
        height:120px;
        border-radius: 50%;
        object-fit: contain;
        margin-right: 10px;
        border: solid 1.5px $color-primary;
        margin-top: 10px;
        margin-bottom: 12px;
    }

    .header{
        display: flex;
        justify-content: left;
        height: 60px;
        align-items: center;
        background-color: $color-primary;
        padding: 8px 30px;
         border-radius: 8px;
        .name-title{
            color: white;
            font-weight: bold;
        }
        .subtile{
            color: rgba(255, 255, 255, 0.829);
            font-size: 14px;
            margin-top: 5px;
        }
       // border-left: solid 2px $color-primary;
    }

    .menu-list{
        padding-inline-start: 0px;

        li{
            display: flex;
            justify-content: left;
            align-items: center;
            //background-color: #16171b;
            color: rgba(255, 255, 255, 0.7);
            height: 36px;
            list-style: none;
            margin-bottom: 8px;
            font-size: 18px;
            cursor: pointer;
            border-radius: 8px;
            // box-shadow: 1px 1px 3px 3px rgba(17, 17, 17, 0.18);
            padding: 5px 34px;
            transition: 0.2s;
            font-weight: bold;

            .menu-item-icon{
                font-size: 24px;
                margin-right: 20px;
            }
        }
        .active{
            border-left: solid 10px $color-primary;
            color: white;
        }
        
        li:hover{
            background-color: $color-primary;
            color: white;
        }
    }
}